html{
    scroll-behavior: smooth;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.row{
    width: 100%;
}
[class*="col-"]{
    float: left;
    padding: 10px;
}


[class*="col-"]{
    width: 100%;
}

/*small device width set for 576px screen size  */
@media (min-width: 576px){
    .col-sm-1{
        width: 8.33%
    }
    .col-sm-2{
        width: 16.66%
    }
    .col-sm-3{
        width: 25%
    }
    .col-sm-4{
        width: 33.33%
    }
    .col-sm-5{
        width: 41.66%
    }
    .col-sm-6{
        width: 50%
    }
    .col-sm-7{
        width: 58.33%
    }
    .col-sm-8{
        width: 66.66%
    }
    .col-sm-9{
        width: 75%
    }
    .col-sm-10{
        width: 83.33%
    }
    .col-sm-11{
        width: 91.66%
    }
    .col-sm-12{
        width: 100%
    }
}

/* header design starts from here  */
header{
    background: #24a19c;
    padding: 0 1%;
    text-align: center;
}

.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

nav ul li{
    display: block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    display: block;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: .4s;
}

nav ul li:hover a{
    border-radius: 20px;
    background: rgba(0, 0, 0, .5);
}
/* header ends here  */

/* banner starts here  */
#banner{
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.banner-contents{
    padding: 50px 20px;
    text-align: center;
}

.banner-contents h1{
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    background: rgba(255, 255, 0, .884);
    margin: 15px auto;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Handlee', cursive;
}
.banner-contents p{
    font-size: 1.2rem;
    color: white;
    background: green;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}

.banner-contents .btn{
    padding: 10px;
    margin: 10px 0;
    background: green;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .4s;
    color: white;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
}
/* banner ends here  */

/* About us starts from here  */
#about-us{
    padding: 1%;
}

.about-us-content{
    text-align: center;
}

.about-us-content h2{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 10px;
}


.about-us-content p{
    font-size: .9rem;
    color: gray;
    margin-bottom: 10px;    
}
/* About us ends here  */

/* food menu starts from here */
.food{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    width: 100%;
    height: auto;
    display: block;
}

.itemdesc{
    background: rgba(165, 164, 164);
}
.items-name{
    background: green;
    padding: 10px;
    color: white;
    font-size: 1.4rem;
}
.itemdesc > p{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    user-select: none;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.1);
}
/* food menu ends from here */

/* contact design starts from here  */
#Contact{
    background: #595b83;
    padding: 1%;
}
.contact-details{
    text-align: center;
    color: white;
}
.contact-details p, address{
    font-size: .8rem;
}

.map{
    width: 100%;
    height: 250px;
}

/* contact design edns  here  */

/* footer design starts from here  */
footer{
    padding: 1%;
    color: white;
    background: #060930;
}
footer p{
    font-size: .9rem;
    text-align: center;
    line-height: 32px;
}
.social-menu{
    text-align: center;
}
.icon-style{
    color: white;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 30px;
    margin:0 10px;
    transition: .4s;
    text-align: center;
}
.icon-style:hover{
    background-color: gray;
    transform: scale(1.2);
}
/* footer design ends here  */

/*medium device width set for 768px screen size  */
@media (min-width: 576px){
    .col-md-1{
        width: 8.33%
    }
    .col-md-2{
        width: 16.66%
    }
    .col-md-3{
        width: 25%
    }
    .col-md-4{
        width: 33.33%
    }
    .col-md-5{
        width: 41.66%
    }
    .col-md-6{
        width: 50%
    }
    .col-md-7{
        width: 58.33%
    }
    .col-md-8{
        width: 66.66%
    }
    .col-md-9{
        width: 75%
    }
    .col-md-10{
        width: 83.33%
    }
    .col-md-11{
        width: 91.66%
    }
    .col-md-12{
        width: 100%
    }
}

/*large device width set for 992px screen size  */
@media (min-width: 992px){

    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display:inline-block;
    }
    nav ul li a{
        display: inline-block;
        padding: 0 15px;
        transition: .4s;
    }
    nav ul li a:hover{
        background: transparent;
        border-radius: none;
        transform: scale(1.2);
        text-decoration: underline;
    }
/* design for banner  */
    #banner{
        height: 100vh;
        position: relative;
    }

    .banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-contents h1{
        font-size: 3.5rem;
        width: 700px;
        margin-bottom: 30px;
    }
    .banner-contents p{
        font-size: 2rem;
        width: 500px;
    }

/* banner design ends  */

/* design for footer  */
    footer  p{
        text-align: left;
    }
    footer .social-menu{
        text-align: right;
    }

    .col-lg-1{
        width: 8.33%
    }
    .col-lg-2{
        width: 16.66%
    }
    .col-lg-3{
        width: 25%
    }
    .col-lg-4{
        width: 33.33%
    }
    .col-lg-5{
        width: 41.66%
    }
    .col-lg-6{
        width: 50%
    }
    .col-lg-7{
        width: 58.33%
    }
    .col-lg-8{
        width: 66.66%
    }
    .col-lg-9{
        width: 75%
    }
    .col-lg-10{
        width: 83.33%
    }
    .col-lg-11{
        width: 91.66%
    }
    .col-lg-12{
        width: 100%
    }
}

.container{
    width: 100%;
    margin:0 auto;
    /* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
 */
}


































































